@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,600;12..96,700;12..96,800&family=Figtree:wght@400;500;600;700&display=swap");
 
/* colores y fuentes. 
/* Paleta: cobalto (identidad) + mantequilla (acento puntual) +  tinta (texto) */
:root {
    --encabezado: #d94004;
    --cobalto-oscuro: #f36a10e4;
    --tinta: #ffffff;
    --fondo: #383636;
    --blanco: #ffffff;
    --mantequilla: #28be70;
    --mantequilla-claro: #030303;
    --suave: #bcacac;
    --borde: #ff0000;
    --rojo: #c2332b;
    --display: "Bricolage Grotesque", sans-serif;
}
 